/* .app{
  padding: 20px;
  font-family: sans-serif;
}

.notice-box{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
}

.notice-box.highlight{
  background-color: #fff3cd;
  border-color:#ffa500;
} */